<h1 mat-dialog-title>Add Expense</h1>
<div mat-dialog-content>
	<td-dynamic-forms class="expense-form" [elements]="elements">
		<ng-template let-element ngFor [ngForOf]="elements">
			<ng-template let-control="control" [tdDynamicFormsError]="element.name">
				<span *ngIf="control.touched || !control.pristine">
					<span *ngIf="control.hasError('min')">Min value: {{ element.min }}</span>
					<span *ngIf="control.hasError('max')">Max value: {{ element.max }}</span>
					<span *ngIf="control.hasError('currencyFormat')">Invalid format</span>
				</span>
			</ng-template>
		</ng-template>
	</td-dynamic-forms>
</div>
<div mat-dialog-actions>
	<button
		*ngIf="mode === TABLE_MODE.ADD"
		mat-flat-button
		color="primary"
		[disabled]="isFormInvalid()"
		(click)="onManage('ADD')"
	>
		Add
	</button>
	<button
		*ngIf="mode === TABLE_MODE.EDIT"
		mat-flat-button
		color="primary"
		[disabled]="isFormInvalid()"
		(click)="onManage('EDIT')"
	>
		Edit
	</button>
	<button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
</div>
