<mat-card class="card-manage-section">
	<ng-template
		class="loader"
		tdLoading="card-manage-loader"
		tdLoadingColor="warn"
		tdLoadingType="linear"
		[tdLoadingUntil]="true"
	></ng-template>
	<mat-card-header>
		<div mat-card-avatar class="header-image"></div>
		<mat-card-title>
			Manage Cards
		</mat-card-title>
		<mat-card-subtitle>You have {{ cards.length }} cards</mat-card-subtitle>
		<button mat-button color="warn" (click)="toggleShowContent()">Toggle</button>
	</mat-card-header>
	<mat-card-content [class]="showContent ? 'show' : 'hide'">
		<app-card-manage-content
			[selectedCard]="selectedCard"
			[mode]="mode"
			(cardNameUpdated)="onUpdateCardName($event)"
			(cardStatusUpdate)="onCardStatusUpdate($event)"
		></app-card-manage-content>
	</mat-card-content>
	<mat-card-footer>
		<app-card-list
			[cards]="cards"
			[selectedCard]="selectedCard"
			[updatedName]="updatedCardName"
			[cardStatus]="footerStatus"
			(addCard)="onStartAdd()"
			(selectCard)="onCardSelect($event)"
		></app-card-list>
	</mat-card-footer>
</mat-card>
