<div class="card-manage-content flex-col">
	<div class="name-input flex-center">
		<mat-form-field class="input-field">
			<input
				#newName
				matInput
				[value]="cardName"
				[placeholder]="cardName === '' ? 'Name of card' : ''"
				(keyup)="onNameChange(newName.value)"
			/>
		</mat-form-field>
	</div>
	<div class="actions flex-center">
		<button mat-flat-button color="primary" (click)="onSave()">Save</button>
		<button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
		<button *ngIf="mode === 'EDIT'" mat-flat-button color="accent" (click)="onDelete()">
			Delete
		</button>
	</div>
</div>
