.item-list {
	padding: 1em 1em;
	overflow-x: auto;
	.item-card {
		min-width: 9vw;
		height: 5vw;
		background-color: #637081;
		background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
		border-radius: 4px;
		color: white;
		cursor: pointer;
		td-loading {
			margin-right: 0.5em;
		}
		.saved-status {
			&.success {
				color: white;
			}
			&.error {
				color: yellow;
			}
		}
		&:not(:first-child) {
			margin-left: 1em;
		}
		&.add-new {
			background-color: #e3efe8;
			background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
			color: darkslategray;
		}
	}
}
