<mat-sidenav-container>
	<!-- <mat-sidenav #details position="end" [opened]="sideNavOpen" mode="side"> -->
	<mat-sidenav #details position="end" [opened]="sideNavOpen != ''" mode="side">
		<app-pay-plan-payee-detail
			*ngIf="sideNavOpen"
			[planData]="breakdown[selectedPlan]"
			[payee]="sideNavOpen"
			[noteFilter]="noteFilter"
		></app-pay-plan-payee-detail>
	</mat-sidenav>
	<section>
		<mat-card class="pay-plan-section">
			<ng-template
				class="loader"
				tdLoading="pay-plan-loader"
				tdLoadingColor="warn"
				tdLoadingType="linear"
				[tdLoadingUntil]="!isLoading"
			></ng-template>
			<mat-card-header>
				<mat-card-title>
					Payment Plans
				</mat-card-title>
				<mat-card-subtitle>
					{{ plans.length + (plans.length > 1 ? ' plans' : ' plan')}}
					<button *ngIf="false" mat-button (click)="details.toggle()">Toggle</button>
					<div
						class="options-summary"
						*ngIf="deleteQueue[selectedPlan] && deleteQueue[selectedPlan].length > 0"
					>
						{{ deleteQueue[selectedPlan].length }} payments selected.
						<span class="delete-expenses" (click)="deletePayments()">Delete?</span>
					</div>
				</mat-card-subtitle>
				<div layout="row" layout-align="start center" class="filter-bar pad-left-sm pad-right-sm">
					<td-tab-select
						[stretchTabs]="true"
						[(value)]="selectedPlan"
						(valueChange)="onPlanSelect(selectedPlan)"
					>
						<td-tab-option *ngFor="let plan of plans" [value]="plan.id"
							>{{ getPlanLabel(plan) }}</td-tab-option
						>
					</td-tab-select>
				</div>
			</mat-card-header>
			<mat-card-content>
				<div *ngIf="breakdown && selectedPlan !== '' && selectedPlan !== null">
					<app-plan-payee-summary
						*ngFor="let payeeDetail of breakdown[selectedPlan]"
						[class]="sideNavOpen && sideNavOpen === payeeDetail.payee ? 'selected' : ''"
						[details]="payeeDetail"
						(detailRequested)="handleSideNavToggle($event)"
					></app-plan-payee-summary>
				</div>
				<div class="filter-section">
					<app-pay-plan-notes-filter
						*ngIf="sideNavOpen"
						[planData]="breakdown[selectedPlan]"
						[payee]="sideNavOpen"
						(noteFilterSelected)="setNoteFilter($event)"
					></app-pay-plan-notes-filter>
				</div>
			</mat-card-content>
		</mat-card>
	</section>
</mat-sidenav-container>
