<!-- <div class="relative">
	<mat-sidenav-container fullscreen>
		<mat-sidenav [opened]="false" position="end" mode="side" #sidesheet>
			<td-sidesheet>
				<td-sidesheet-header>Sidesheet header</td-sidesheet-header>
			</td-sidesheet>
		</mat-sidenav>
	</mat-sidenav-container>
</div> -->
<!-- <mat-card class="pay-plan">
	<mat-card-header>
		<mat-card-title>
			<span>{{ plan.card.name }}</span>
		</mat-card-title>
		<mat-card-subtitle>
			<div>{{ getDate() }}</div>
			<div>{{ plan.card.name }}</div>
		</mat-card-subtitle>
		<div layout="row" layout-align="start center" class="filter-bar pad-left-sm pad-right-sm"></div>
	</mat-card-header>
	<mat-card-content>
		<div *ngFor="let payee of getPayees()" class="plan-payee-summary-item">
			<div class="payee">{{ payee }}</div>
			<div class="amt">{{ getTotal(payee) | currency }}</div>
		</div>
	</mat-card-content>
</mat-card>
<td-sidesheet #sidesheet class="expense-summary">
	<td-sidesheet-header>
		<td-sidesheet-title>Breakdown</td-sidesheet-title>
		<button mat-icon-button td-sidesheet-header-action>
			<mat-icon matTooltipPosition="before" matTooltip="Close" (click)="sidesheet.toggle()"
				>close</mat-icon
			>
		</button>
	</td-sidesheet-header>
	<td-sidesheet-content>
		<div class="breakdown">
			Breakdown
		</div>
	</td-sidesheet-content>
</td-sidesheet> -->
