app-pay-plan-section {
	width: 600px;
	.pay-plan-section {
		// width: 400px;
		width: 100%;
		&.mat-card {
			padding-left: 0;
			padding-right: 0;
		}
		.mat-card-header {
			padding-left: 16px;
			padding-right: 16px;
			flex-direction: column;
			.mat-card-header-text {
				margin-left: 0;
			}
			.options-summary {
				padding: 2vh 1vw;
				background-color: silver;
				color: white;
				span {
					cursor: pointer;
				}
			}
		}
		.mat-card-content {
			padding: 8px 16px 8px 16px;
			.pay-plan-payee-summary {
				margin-top: 8px;
			}
		}
	}
	mat-sidenav {
		width: 250px;
	}
	.filter-section {
		height: 200px;
		// overflow-y: scroll;
		overflow-y: auto;
	}
}
