app-tabular-view {
	.tabular-view-component {
		height: 650px;
		td-loading {
			position: absolute;
			left: 45%;
		}
		.mat-card {
			height: 650px;
		}
		.mat-card .mat-card-header {
			height: 80px;
			justify-content: space-between;
			.filter-bar {
				width: 40%;
			}
			.mat-form-field-appearance-legacy .mat-form-field-wrapper {
				padding-bottom: 0.5vh;
			}
			.add-button {
				cursor: pointer;
			}
		}
		.mat-card .mat-card-content {
			height: 488px;
			.retailer {
				font-size: 15px;
				font-weight: 600;
				text-overflow: ellipsis;
				color: lightslategray;
			}
			.amt_charged,
			.amt_remaining {
				.dollars {
					font-size: 24px;
					font-weight: 600;
					line-height: 24px;
					align-self: flex-start;
					color: slategray;
				}
				.cents {
					font-size: 12px;
					align-self: flex-start;
					margin-left: 2px;
					color: lightslategray;
				}
			}
			.amt_remaining {
				.dollars {
					color: skyblue;
				}
				.cents {
					color: lightskyblue;
				}
			}
			.how-to-pay {
				font-size: 11px;
			}
		}
	}
}
