<div class="tabular-view-component">
	<mat-card>
		<ng-template
			class="loader"
			tdLoading="expense-loader"
			tdLoadingColor="warn"
			[tdLoadingType]="linear"
			[tdLoadingUntil]="!isLoading"
		>
		</ng-template>
		<mat-card-header>
			<mat-card-title>
				Card Expenses
				<mat-icon class="add-button" (click)="add()">library_add</mat-icon>
				<mat-icon class="add-button" color="warn" (click)="addTest()">library_add</mat-icon>
			</mat-card-title>
			<mat-card-subtitle
				>{{ unPaginatedData && unPaginatedData.length }} expenses totaling
				{{ getTotalUnpaginatedExpenses() | currency }}
				<td-message
					label="Error"
					sublabel="Something went wrong"
					color="warn"
					icon="error"
				></td-message>
			</mat-card-subtitle>
			<div layout="row" layout-align="start center" class="filter-bar pad-left-sm pad-right-sm">
				<td-search-box
					#searchBox
					backIcon="arrow_back"
					class="push-right-sm"
					placeholder="Filter"
					(searchDebounce)="filter($event)"
					flex
				>
				</td-search-box>
			</div>
		</mat-card-header>
		<mat-card-content>
			<td-data-table
				[data]="formattedData"
				[columns]="columns"
				[clickable]="true"
				[selectable]="true"
				[multiple]="true"
				[sortable]="true"
				[sortBy]="formattedData ? sortBy : ''"
				[sortOrder]="sortOrder"
				(sortChange)="sort($event)"
				[style.height.%]="100"
			>
				<ng-template tdDataTableTemplate="date" let-value="value">
					<app-date-field [date]="value"></app-date-field>
				</ng-template>
				<ng-template tdDataTableTemplate="retailer" let-value="value">
					<div class="retailer">{{ value }}</div>
				</ng-template>
				<ng-template tdDataTableTemplate="amtCharged" let-value="value">
					<div class="amt_charged flex-row">
						<span class="dollars">{{ splitDollarsAndCents(value, 'd') }}</span>
						<span class="cents">{{ splitDollarsAndCents(value, 'c') }}</span>
					</div>
				</ng-template>
				<ng-template tdDataTableTemplate="amtRemaining" let-value="value">
					<div class="amt_remaining flex-row">
						<span class="dollars">{{ splitDollarsAndCents(value, 'd') }}</span>
						<span class="cents">{{ splitDollarsAndCents(value, 'c') }}</span>
					</div>
				</ng-template>
				<ng-template tdDataTableTemplate="pending_paid" let-row="row">
					<app-pending-paid
						[pending]="row['amtPending']"
						[paid]="row['amtPaid']"
					></app-pending-paid>
				</ng-template>
				<ng-template tdDataTableTemplate="card_payee" let-row="row">
					<app-card-payee [card]="row['card_id']" [payee]="row['responsible_party_id']">
					</app-card-payee>
				</ng-template>
				<ng-template tdDataTableTemplate="howToPay" let-value="value">
					<div class="how-to-pay">
						{{ value }}
					</div>
				</ng-template>
			</td-data-table>
			<hr [style.marginTop.px]="0" [style.marginBottom.px]="0" />
			<td-paging-bar
				#pagingBar
				[pageSize]="pageSize"
				[total]="unPaginatedData && unPaginatedData.length"
				(change)="page($event)"
			>
				<span hide-xs>Rows per page:</span>
				<mat-select [style.width.px]="50" [(ngModel)]="pageSize">
					<mat-option *ngFor="let size of [10, 20, 50, 100, 500]" [value]="size">
						{{ size }}
					</mat-option>
				</mat-select>
				{{ pagingBar.range }} <span hide-xs>of {{ unPaginatedData.length }}</span>
			</td-paging-bar>
		</mat-card-content>
	</mat-card>
</div>
