<div [class]="'tabular-view-component' + (showFilters ? ' with-filter' : '')">
	<app-expense-summary
		*ngIf="showFilters"
		[cards]="cards"
		[payees]="payees"
		[data]="data"
		(filterUpdate)="onFilterUpdate($event)"
		(closeFilterView)="toggleFilters()"
	></app-expense-summary>
	<mat-card>
		<ng-template
			class="loader"
			tdLoading="expense-loader"
			tdLoadingColor="warn"
			[tdLoadingType]="linear"
			[tdLoadingUntil]="!isLoading"
		>
		</ng-template>
		<mat-card-header>
			<mat-card-title>
				Card Expenses
				<mat-icon class="add-button" (click)="onManage(TABLE_MODE.ADD)">library_add</mat-icon>
			</mat-card-title>
			<mat-card-subtitle
				>{{ unPaginatedData && unPaginatedData.length }} expenses totaling
				{{ getTotalUnpaginatedExpenses() | currency }}
				<div class="filter-options" (click)="toggleFilters()">
					{{ showFilters ? 'Close summary' : 'Show summary' }}
				</div>
				<td-message
					*ngIf="selectedRows.length > 0"
					[label]="'Selected ' + selectedRows.length + ' expenses'"
					[sublabel]="getSelectedAmount() | currency"
					color="warn"
					icon="error"
				>
					<button
						*ngIf="selectedRows.length === 1"
						td-message-actions
						mat-button
						color="primary"
						(click)="onManage(TABLE_MODE.EDIT, selectedRows[0])"
					>
						Edit
					</button>
					<button td-message-actions mat-button (click)="onPay()">Pay</button>
					<button td-message-actions mat-button color="warn" (click)="onConfirm()">Delete</button>
				</td-message>
			</mat-card-subtitle>
			<div layout="row" layout-align="start center" class="filter-bar pad-left-sm pad-right-sm">
				<td-search-box
					#searchBox
					backIcon="arrow_back"
					class="push-right-sm"
					placeholder="Filter"
					(searchDebounce)="filter($event)"
					flex
				>
				</td-search-box>
			</div>
		</mat-card-header>
		<mat-card-content>
			<td-data-table
				[data]="formattedData"
				[columns]="columns"
				[clickable]="true"
				[selectable]="true"
				[multiple]="true"
				[sortable]="true"
				[sortBy]="formattedData ? sortBy : ''"
				[sortOrder]="sortOrder"
				(sortChange)="onSort($event)"
				[(ngModel)]="selectedRows"
				[style.height.%]="100"
			>
				<ng-template tdDataTableTemplate="date" let-value="value">
					<app-date-field [date]="value"></app-date-field>
				</ng-template>
				<ng-template tdDataTableTemplate="retailer" let-value="value">
					<div class="retailer">{{ value }}</div>
				</ng-template>
				<ng-template tdDataTableTemplate="amtCharged" let-value="value">
					<div class="amt_charged flex-row">
						<span class="dollars">{{ splitDollarsAndCents(value, 'd') }}</span>
						<span class="cents">{{ splitDollarsAndCents(value, 'c') }}</span>
					</div>
				</ng-template>
				<ng-template tdDataTableTemplate="amtRemaining" let-value="value">
					<div class="amt_remaining flex-row">
						<span class="dollars">{{ splitDollarsAndCents(value, 'd') }}</span>
						<span class="cents">{{ splitDollarsAndCents(value, 'c') }}</span>
					</div>
				</ng-template>
				<ng-template tdDataTableTemplate="pending_paid" let-row="row">
					<app-pending-paid
						[pending]="row['amtPending']"
						[paid]="row['amtPaid']"
					></app-pending-paid>
				</ng-template>
				<ng-template tdDataTableTemplate="card_payee" let-row="row">
					<app-card-payee
						[card]="row['card'] && row['card']['name']"
						[payee]="row['responsibleParty'] && row['responsibleParty']['name']"
					>
					</app-card-payee>
				</ng-template>
				<ng-template tdDataTableTemplate="howToPay" let-value="value">
					<div class="how-to-pay">
						{{ value }}
					</div>
				</ng-template>
			</td-data-table>
			<hr [style.marginTop.px]="0" [style.marginBottom.px]="0" />
			<td-paging-bar
				#pagingBar
				[pageSize]="pageSize"
				[total]="unPaginatedData && unPaginatedData.length"
				(change)="page($event)"
			>
				<span hide-xs>Rows per page:</span>
				<mat-select [style.width.px]="50" [(ngModel)]="pageSize">
					<mat-option *ngFor="let size of [10, 20, 50, 100, 500]" [value]="size">
						{{ size }}
					</mat-option>
				</mat-select>
				{{ pagingBar.range }} <span hide-xs>of {{ unPaginatedData.length }}</span>
			</td-paging-bar>
		</mat-card-content>
	</mat-card>
</div>
