@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  background: url('subtlenet2.png');
}

div {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

.navbar.navbar-default {
  background-color: #557F95;
  border-radius: 0;
  box-shadow: 1px 3px 1px grey;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-nav li a.submenu {
  color: black;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 24px;
}

.navbar.navbar-default {
  margin-bottom: 4px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

h2, h3 {
  padding-top: 0;
  margin-top: 10px;
}

.clr {
  clear: both;
}

.user-box {
  background-color: rgba(76,186,74, 0.4);
  min-height: 30px;
  color: black;
  padding: 6px;
  margin-top:0;
}

.user-credentials {
  font-size: 12px;
  color: #f4f6f7;
  padding-left: 10px;
}

.user-box-expense-page {
  background-color: rgba(9, 43, 19, 0.4);
  min-height: 30px;
  color: black;
  padding: 6px;
  margin-top:0;
}


.expense-section {
  margin-left: 10px;
  padding: 10px;
  box-shadow: 5 5 5px #888;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

.expense {
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: aliceblue;
}

.expense-amt {
  padding-left: 5px;
  font-weight: bold;
}

.expense.archived {
  background-color: darksalmon;
  padding-right: 0;
  padding-top: 0;
}

.payment-type-field {
  background-color: darksalmon;
  padding-right: 10px;
  text-align: right;
}

.payment-type-full {
  color: forestgreen;
  font-weight: bold;
  font-size: 18px;
}

.payment-type-partial {
  color: yellow;
  font-weight: bold;
  font-size: 18px;
}

.glyphicon.glyphicon-ok-circle {
  color: forestgreen;
}

.glyphicon.glyphicon-exclamation-sign {
  color: yellow;
}

.panel-body {
  border: 1px solid #ccc;
  padding: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: white;
  padding-left: 0;
  padding-top: 0;
}

.date-field {
  font-size: 18px;
}

.retailer-field {
  font-size: 22px;
}

.retailer-field-archived {
  font-size: 18px;
}

.card {
  font-weight: 200;
  font-size: 22px;
}

.table-content {
  text-align: center;
  border: 1px solid black;
  width: 100%;
}

.center-text {
  text-align: center;
}

.option-group {
  padding-right: 0;
}

.edit-title {
  color: white;
  font-size: 14px;
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
}

.pay-title {
  color: white;
  font-size: 14px;
  border: 1px solid forestgreen;
  background-color: forestgreen;
}

.accordion-body.collapse {
  padding-left: 0;
}

.pay {
  width: 100%;
}

.option {
  border: 1px solid black;
}

.payplan-section {
  margin-top: 60px;
}

.pay-button, .cancel-button {
  width: 100%;
}

.payment-header {
  text-align: center;
  font-size: 14px;
  color: black;
}

.payment-cell {
  text-align: center;
  font-size: 14px;
  color: black;
}

.payment-cell-archived {
  text-align: center;
  font-size: 14px;
}

.payment-cell.action {
  //width: 250px;
  width: 130px;
}

.payment-cell.date {
  //width: 300px;
  width: auto;
}

.total {
  color: red;
}

#paymentplan {
  width: 550px;
}

.payment-row {
  background-color: white;
}

.crossed-out {
  color: red;
  text-decoration: line-through;
}

.amt_field.editable.editable-click.editable-disabled {
  color: red;
}

.payment-total {
  font-size: 16px;
  color: cornflowerblue;
}

.expense-chart {
  float:left;
  margin-right:10px;
  text-align:center;
  font-size: 10px;
}

.expense-field {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
}

.chart-box {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

thead {
  border: none;
}


.summary {
  width: 450px;
  text-align: right;
}

.summary-amt {
  margin-left: 40px;
  font-weight: bold;
  color:forestgreen;
  padding-left: 10px;
}

.summary-box {
//  border: 1px solid black;
//  background-color: rgba(0,0,0,0.5);
}

.summary-header {
  text-align: center;
  font-size: 12px;
}

.summary-content {
  text-align: center;
}

.summary-totals {
  color: darkseagreen;
  font-size: 15px;
  font-weight: 200;
}

.col-xs-12 {
  padding: 3px;
}

.payment-side {
  width: 550px;
//  width: 100%;
}

.archived_link {
  font-weight: 200;
  font-size: 14px;
  color: cadetblue;
}

.back_to_expenses {
  margin-left: 10px;
}

.setup-box {
  border: 2px solid #333333;
  border-top-style: none;
  border-bottom-style: none;
  padding: 5px;
}

.setup-title {
  display: inline-block;
  width: 425px;
  text-align: center;
  font-weight: 200;
}

.card-add-form {
  margin-left: 20px;
}

.no-payments-block, .no-expenses-block {
  font-weight: 200;
  margin-top: 15px;
}

.card-label {
  padding-right: 35px;
}

.card-test {
  //background-color: darkorange;
  background-color: cadetblue;
}

.expense-button {
  //margin: 0 auto;
  text-align: center;
}

.expense-button-section {
  //margin: auto auto;
  text-align: center;
}

.summary-table {
  border: none;
}

hr.shadowed {
  width: 550px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.previous_page, .next_page {
  font-weight: bold;
}

.pagination span, .pagination a { 
  padding: 0.3em 0.6em;
  border: 1px solid grey;
  background-color: #F5F5F1;
  text-align: center;
}

.pagination .current {
  font-style: normal;
  text-align: center;
  padding: 0.5em 0.9em;
  border: 1px solid grey;
  background-color: darkgray;
  color: white;
  width: 10px;
  height: 10px;
}
