<br />

<div class="col-xs-12">
  <div class="expense-section col-xs-6">
    <div class="pull-left">
      <%= link_to "Add expense", new_expense_path, :class => "btn btn-info" %>
    </div>
    <br class="clr" />
    <br />
    <h2>Expenses for <%=current_user.email%></h2>
    <div class="panel-group" id="accordion" role="tablist" style="padding: 0;">
      <%= render current_expenses.order("date DESC") %>
    </div>
  </div>
  <%= render :partial => '/payments/payment' %>
</div>

<script>
  $(function() {
    $("input#expense_date.string.required.form-control").click(function() {
      $(this).datepicker({ dateFormat: 'yy-mm-dd' });
      $(this).datepicker('show');
    });    
    
    $("figure.chart").attr("width", "150px");
    $("figure.chart").attr("display", "inline");
    
  })
</script>