<br />

<div class="col-xs-12">
  <div class="expense-section col-xs-6">
    <div class="pull-left">
      <%= link_to "Add expense", new_expense_path, :class => "btn btn-info" %>
    </div>
    <br class="clr" />
    <br />
    <h2>Expenses for <%=current_user.email%></h2>
    <%= render current_expenses %>
  </div>
  <%= render :partial => '/payments/payment' %>
  
</div>

