<div class="archived-data-table">
	<td-data-table
		[data]="planData"
		[columns]="columns"
		[clickable]="true"
		[selectable]="true"
		[multiple]="true"
		[sortable]="true"
		[sortBy]="columns.length > 0 ? sortBy : ''"
		[sortOrder]="sortOrder"
		(sortChange)="onSort($event)"
		[(ngModel)]="selectedRows"
		[style.height.%]="100"
	>
		<ng-template tdDataTableTemplate="date" let-value="value">
			<app-date-field [date]="value"></app-date-field>
		</ng-template>
		<ng-template tdDataTableTemplate="amtPaid" let-value="value">
			<app-amt-field [amt]="value" customClass="amt-paid"></app-amt-field>
		</ng-template>
	</td-data-table>
</div>
